.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.cross {
  background-color: brown;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: var(--mdc-dialog-container-shape, 4px);
  position: relative;
  left: 42px !important;
}

.custom-btn {
  height: 40px;
  width: 90px;
}
